<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="article__block">
        <h3>{{ article.title }}</h3>
        <p>{{ article.text }}</p>
        <p>author: {{ article.author }}</p>
        <p>date: {{ article.pub_date }}</p>
        <h4>{{ article.get_tags }}</h4>
        <div class="article__block__comment">
            <h4>Комментарии:</h4>
            {% for comment in article.comments.all %}
                <div class="article__comment">
                    <p>{{ comment.user }}</p>
                    <p>{{ comment.text }}</p>
                    <a href="{% url 'comment_update' article.id comment.id  %}">Редактировать</a>
                </div>
            {% empty %}
                <p>Оставьте свой первый комментарий!</p>
            {% endfor %}
            {% if user.is_authenticated %}
                <a href="{% url 'comment_create' article.pk %}">Оставить комментарий</a>
            {% else %}
                 <a href="{% url 'login' %}">Оставить комментарий</a>
            {% endif %}
        </div>
    </div>
</body>
</html>